<table
  width="100%"
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="
    background-color: #f6f8fa;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  "
>
  <tr>
    <td align="center">
      <!-- Main Container -->
      <table
        width="600"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="
          background-color: #ffffff;
          margin: 20px 0;
          border: 1px solid #e2e4e9;
        "
      >
        <!-- Header -->
        <tr>
          <td style="padding: 30px; text-align: center">
            <h1
              style="
                color: #0e295d;
                font-size: 28px;
                margin: 0;
                font-weight: 600;
                font-family: 'Poppins', Helvetica, Arial, sans-serif;
              "
            >
              Dobrodosli!
            </h1>
          </td>
        </tr>
        <!-- Body -->
        <tr>
          <td
            style="
              padding: 20px 30px;
              color: #334155;
              font-size: 16px;
              line-height: 1.6;
              font-family: 'Poppins', Helvetica, Arial, sans-serif;
            "
          >
            <p style="margin-bottom: 20px">Hello,</p>
            <p style="margin-bottom: 20px">
              Sa zadovoljstvom vas pozivamo da se pridruzite Pomen aplikaciji.
              Da bi zavrsili regisraciju molim vas kliknite na dugme ispod:
            </p>
            <p style="text-align: center; margin: 30px 0">
              <a
                href="{link}"
                style="
                  display: inline-block;
                  padding: 14px 28px;
                  background-color: #359452;
                  color: #ffffff;
                  text-decoration: none;
                  font-size: 16px;
                  font-weight: 600;
                  border-radius: 5px;
                  font-family: 'Poppins', Helvetica, Arial, sans-serif;
                "
                >Registruj se</a
              >
            </p>
            <p style="margin-top: 20px">
              Ako imate bilo kakvih pitanja ili nedoumica kontaktirajte nas tim.
            </p>
            <p style="margin-top: 40px">Pozdrav,<br />Pomen tim</p>
          </td>
        </tr>
        <!-- Footer -->
        <tr>
          <td
            style="
              background-color: #eef6ff;
              padding: 20px;
              text-align: center;
              color: #64748b;
              font-size: 14px;
              font-family: 'Poppins', Helvetica, Arial, sans-serif;
            "
          >
            <p style="margin: 0">
              &copy; {current_year} Pomen. Sva prava se zadrzvaju.
            </p>
          </td>
        </tr>
      </table>
      <!-- End of Main Container -->
    </td>
  </tr>
</table>
<!-- End Email Template -->
