<table
  width="100%"
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="
    background-color: #f6f8fa;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  "
>
  <tr>
    <td align="center">
      <!-- Main Container -->
      <table
        width="600"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="
          background-color: #ffffff;
          margin: 20px 0;
          border: 1px solid #e2e4e9;
        "
      >
        <!-- Header -->
        <tr>
          <td style="padding: 30px; text-align: center">
            <h1
              style="
                color: #0e295d;
                font-size: 28px;
                margin: 0;
                font-weight: 600;
                font-family: 'Poppins', Helvetica, Arial, sans-serif;
              "
            >
              Uspešno ste poručili sertifikat!
            </h1>
          </td>
        </tr>
        <!-- Body -->
        <tr>
          <td
            style="
              padding: 20px 30px;
              color: #334155;
              font-size: 16px;
              line-height: 1.6;
              font-family: 'Poppins', Helvetica, Arial, sans-serif;
            "
          >
            <p style="margin-bottom: 20px">Postovani {buyer_name},</p>

            <p style="margin-bottom: 20px">Hvala na ukazanom poverenju!</p>

            <p style="margin-bottom: 20px">
              Vaša porudžbina sertifikata {first_name}, {last_name} je uspešno
              primljena.
            </p>

            <p style="margin-bottom: 20px">
              Naš tim će vas uskoro kontaktirati kako bismo zajedno dopunili sve
              neophodne informacije za izradu sertifikata.
            </p>

            <p style="margin-top: 20px">
              Ukoliko imate bilo kakvih pitanja ili poteškoća, slobodno nas
              kontaktirajte - tu smo da pomognemo!
            </p>

            <p style="margin-top: 40px">Srdačan pozdrav</p>
          </td>
        </tr>
        <!-- Footer -->
        <tr>
          <td
            style="
              background-color: #eef6ff;
              padding: 20px;
              text-align: center;
              color: #64748b;
              font-size: 14px;
              font-family: 'Poppins', Helvetica, Arial, sans-serif;
            "
          >
            <p style="margin: 0">
              &copy; {current_year} Pomen. Sva prava se zadrzvaju.
            </p>
          </td>
        </tr>
      </table>
      <!-- End of Main Container -->
    </td>
  </tr>
</table>
<!-- End Email Template -->
